@import url(./fonts.css);


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #181511;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header__wrap {
  display: flex;
  align-items: center;
  margin: 14px 0;
}

.logo {
  font-family: 'Old Standard TT';
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #FFAE2B;
  padding-right: 42px;
}

.menu {
  display: flex;
}
.menu__list {
  padding-right: 40px;
}

.menu__list:nth-child(1) {
  padding-right: 28px;
}

.menu__list:nth-child(5) {
  padding-right: 0;
}

.menu__link {
  font-family: 'Old Standard TT';
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: #ACA592;
  text-transform: uppercase;
  transition: 300ms;
}

.menu__link:hover {
  color: #FFAE2B;
}

.header__btn {
  padding-left: 489px;
}

.buy__btn {
  font-family: 'Old Standard TT';
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  color: #FFAE2B;
  border: 1px solid #FFAE2B;
  padding: 15px 25px;
  background: #181511;
  text-transform: uppercase;
  transition: 300ms;
}

.buy__btn:hover {
  color: black;
  background: #FFAE2B;
}

.banner {
  background: url(../img/atelier__banner.png) no-repeat center/cover;
}

.banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__p {
  font-family: 'Old Standard TT';
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #FFAE2B; 
  padding: 120px 0 15px;
  letter-spacing: 2px;
}

.banner__h {
  font-family: 'Old Standard TT';
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  color: #fff;
  padding-bottom: 35px;
  letter-spacing: 1px;
}

.banner__btn {
  font-family: 'Old Standard TT';
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  color: #181511;
  background: #FFAE2B;
  border: none;
  padding: 14px 24px;
  margin-bottom: 200px;
  transition: 300ms;
}

.banner__btn:hover {
  color: #FFAE2B;
  background: #181511;
}

.template__p {
  font-family: 'Old Standard TT';
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: center;
  color: #ACA592;
  margin: 120px 0 10px;
  text-transform: uppercase;
}
.template__h {
  font-family: 'Old Standard TT';
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  color: #FFAE2B;
  text-align: center;
  margin-bottom: 60px;
} 

.template__pages-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.template__card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border: 1px solid #4B4136;
  padding: 41px 41px 0;
}

.card__inner-p {
  font-family: 'Old Standard TT';
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 41px;
} 

.mid__page-img {
  margin-top: 90px;
  background: url(../img/midpageimg.png) no-repeat center/cover; 
  max-width: 100%;
  max-height: 100%; 
  height: 580px;
} 


.our__services {
  margin-top: 158px;
}
.our__services-p {
  font-family: 'Old Standard TT';
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: center; 
  color: #ACA592;
  text-transform: uppercase;
}
.our__services-h {
  font-family: 'Old Standard TT';
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFAE2B; 
  margin: 10px 0 60px;
} 

.our__services-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.wrap__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  border: 1px solid #4B4136; 
  padding: 61px 117px 76px 61px;
  position: relative;
}
.square {
  font-size: 40px;
  color: #54493E;
  position: absolute;
  top: 38px;
  left: 63px;
}

.triangle {
  font-size: 40px;
  color: #FFAE2B; 
  position: relative;
}

.wrap__card-h {
  font-family: 'Old Standard TT';
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
  color: #FFAE2B;
  padding-top: 20px;
}

.wrap__card-p1 {
  font-family: 'Old Standard TT';
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #ACA592;
  padding-top: 10px;
}

.wrap__card-p2 {
  font-family: 'Old Standard TT';
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  color: #ACA592;
  width: 222px;
  padding-top: 5px;
} 

.circle {
  font-size: 40px;
  position: relative; 
  color: #FFAE2B;
}

.hollow__circle {
  font-size: 40px;
  position: absolute;
  color:#54493E;
  top: 55px;
  left: 45px;
  z-index: 1;
} 

.new__circle {
  font-size: 40px;
  color: #FFAE2B;
  position: absolute;
  z-index: 1;
  top: 37px;
  left: 64px;
}

.pentagon {
  font-size: 40px;
  color: #54493E; 
  position: relative;
}


.follow__me-wrap {
  display: flex;
  justify-content: space-between;
  padding: 21px 0px;
  border-top: 1px solid #4B4136;
  border-bottom: 1px solid #4B4136;
}

.img__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  position: relative;
}

.instagram__icon {
  position: absolute;
  font-size: 50px;
  color: #FFFFFF;
  top: -37px;
} 

.wrap__box {
  display: flex;
}

.btn__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.follow__p {
  font-family: 'Old Standard TT';
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: #FFAE2B;
  padding-top: 40px;
}

.ig__big-icon {
  padding-top: 21px;
  font-size: 60px;
  color: #FFFFFF;
  position: absolute; 
  top: 56px;
}

.ig__btn {
    margin-top: 54px;
    padding: 14px 24px;
    background: #FFAE2B;
    color: #181511;
    border: none;
    transition: 300ms;
}

.ig__btn:hover {
  color: #FFAE2B;
  background: #181511;
}

.follow__me {
  margin-bottom: 125px;
}

.footer__h {
  font-family: 'Old Standard TT';
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  color: #FFAE2B;
  text-align: center;
}

.footer__p {
  font-family: 'Old Standard TT';
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: #ACA592;
  text-align: center;
  padding: 20px 0 82px 0;
} 



